<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>421</real>
			<key>height</key>
			<real>386</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>421</real>
			<key>originalHeight</key>
			<real>386</real>
		</dict>
		
		<key>button-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>127</real>
			<key>y</key>
			<real>638</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>131</real>
			<key>y</key>
			<real>472</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>297</real>
			<key>y</key>
			<real>472</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>688</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>378</real>
			<key>y</key>
			<real>595</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-background.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>button-human-normal.png</key>
		<dict>
			<key>x</key>
			<real>301</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-human-pushed.png</key>
		<dict>
			<key>x</key>
			<real>297</real>
			<key>y</key>
			<real>553</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>603</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>510</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>370</real>
			<key>y</key>
			<real>676</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>208</real>
			<key>y</key>
			<real>634</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>131</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>216</real>
			<key>y</key>
			<real>553</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>216</real>
			<key>y</key>
			<real>472</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-disabled.png</key>
		<dict>
			<key>x</key>
			<real>407</real>
			<key>y</key>
			<real>425</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-normal.png</key>
		<dict>
			<key>x</key>
			<real>216</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-pushed.png</key>
		<dict>
			<key>x</key>
			<real>289</real>
			<key>y</key>
			<real>634</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>255</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>127</real>
			<key>y</key>
			<real>557</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>459</real>
			<key>y</key>
			<real>622</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>378</real>
			<key>y</key>
			<real>568</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>459</real>
			<key>y</key>
			<real>595</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>score-mask.png</key>
		<dict>
			<key>x</key>
			<real>85</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-overlay.png</key>
		<dict>
			<key>x</key>
			<real>386</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-player-a.png</key>
		<dict>
			<key>x</key>
			<real>106</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-player-b.png</key>
		<dict>
			<key>x</key>
			<real>492</real>
			<key>y</key>
			<real>425</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>