<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>842</real>
			<key>height</key>
			<real>772</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>842</real>
			<key>originalHeight</key>
			<real>772</real>
		</dict>
		
		<key>button-large-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>1560</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1298</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1560</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-large-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>1298</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-small-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>374</real>
			<key>y</key>
			<real>1822</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>112</real>
			<key>y</key>
			<real>1822</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>524</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>1928</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>366</real>
			<key>y</key>
			<real>1928</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>1822</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1822</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1928</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>112</real>
			<key>y</key>
			<real>1928</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>524</real>
			<key>y</key>
			<real>878</real>
			<key>width</key>
			<real>72</real>
			<key>height</key>
			<real>83</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>72</real>
			<key>originalHeight</key>
			<real>83</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>470</real>
			<key>y</key>
			<real>1928</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>524</real>
			<key>y</key>
			<real>963</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>