<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>842</real>
			<key>height</key>
			<real>772</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>842</real>
			<key>originalHeight</key>
			<real>772</real>
		</dict>
		
		<key>button-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>756</real>
			<key>y</key>
			<real>1020</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>510</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>756</real>
			<key>y</key>
			<real>1182</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>824</real>
			<key>y</key>
			<real>850</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>432</real>
			<key>y</key>
			<real>1106</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>594</real>
			<key>y</key>
			<real>944</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-background.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>594</real>
			<key>y</key>
			<real>1106</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>944</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>432</real>
			<key>y</key>
			<real>944</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>432</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1198</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>602</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>236</real>
			<key>y</key>
			<real>1114</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>162</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>72</real>
			<key>height</key>
			<real>83</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>72</real>
			<key>originalHeight</key>
			<real>83</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>772</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>772</real>
			<key>y</key>
			<real>828</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>