<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>842</real>
			<key>height</key>
			<real>772</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>842</real>
			<key>originalHeight</key>
			<real>772</real>
		</dict>
		
		<key>button-background-large.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-background-medium.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>172</real>
			<key>height</key>
			<real>170</real>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>184</real>
			<key>originalHeight</key>
			<real>184</real>
		</dict>
		
		<key>button-background-small.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>504</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>110</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>120</real>
			<key>originalHeight</key>
			<real>120</real>
		</dict>
		
		<key>button-large-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>172</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-large-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>342</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-medium-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>628</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>957</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>811</real>
			<key>y</key>
			<real>828</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>628</real>
			<key>y</key>
			<real>957</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>811</real>
			<key>y</key>
			<real>1011</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>445</real>
			<key>y</key>
			<real>957</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>445</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-medium-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>183</real>
			<key>y</key>
			<real>1140</real>
			<key>width</key>
			<real>181</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<real>195</real>
			<key>originalHeight</key>
			<real>195</real>
		</dict>
		
		<key>button-small-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>616</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>590</real>
			<key>y</key>
			<real>1140</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>702</real>
			<key>y</key>
			<real>1140</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>806</real>
			<key>y</key>
			<real>1194</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>702</real>
			<key>y</key>
			<real>1244</real>
			<key>width</key>
			<real>102</real>
			<key>height</key>
			<real>102</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>1140</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>366</real>
			<key>y</key>
			<real>1140</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>1219</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>button-small-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>722</real>
			<key>width</key>
			<real>110</real>
			<key>height</key>
			<real>104</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>110</real>
			<key>originalHeight</key>
			<real>110</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>183</real>
			<key>y</key>
			<real>1036</real>
			<key>width</key>
			<real>72</real>
			<key>height</key>
			<real>83</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>72</real>
			<key>originalHeight</key>
			<real>83</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>956</real>
			<key>y</key>
			<real>504</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>956</real>
			<key>y</key>
			<real>558</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>