<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>421</real>
			<key>height</key>
			<real>386</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>421</real>
			<key>originalHeight</key>
			<real>386</real>
		</dict>
		
		<key>button-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>649</real>
			<key>width</key>
			<real>64</real>
			<key>height</key>
			<real>64</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>70</real>
			<key>originalHeight</key>
			<real>70</real>
		</dict>
		
		<key>button-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>715</real>
			<key>width</key>
			<real>64</real>
			<key>height</key>
			<real>64</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<real>70</real>
			<key>originalHeight</key>
			<real>70</real>
		</dict>
		
		<key>button-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>button-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>781</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>823</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>850</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>