<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>421</real>
			<key>height</key>
			<real>386</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>421</real>
			<key>originalHeight</key>
			<real>386</real>
		</dict>
		
		<key>button-large-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>button-large-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>131</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>button-medium-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>609</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>478</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>274</real>
			<key>y</key>
			<real>605</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>91</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>262</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>353</real>
			<key>y</key>
			<real>513</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>405</real>
			<key>y</key>
			<real>422</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>91</real>
			<key>y</key>
			<real>609</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>518</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-medium-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>183</real>
			<key>y</key>
			<real>570</real>
			<key>width</key>
			<real>89</real>
			<key>height</key>
			<real>89</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>97</real>
			<key>originalHeight</key>
			<real>97</real>
		</dict>
		
		<key>button-small-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>212</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>53</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>353</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>51</real>
			<key>height</key>
			<real>51</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>318</real>
			<key>width</key>
			<real>51</real>
			<key>height</key>
			<real>51</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>370</real>
			<key>width</key>
			<real>51</real>
			<key>height</key>
			<real>51</real>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>159</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>106</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>button-small-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>265</real>
			<key>width</key>
			<real>53</real>
			<key>height</key>
			<real>53</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>55</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>474</real>
			<key>y</key>
			<real>318</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>478</real>
			<key>y</key>
			<real>27</real>
			<key>width</key>
			<real>24</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>