<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>421</real>
			<key>height</key>
			<real>386</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>421</real>
			<key>originalHeight</key>
			<real>386</real>
		</dict>
		
		<key>button-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>723</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>332</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>314</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>507</real>
			<key>y</key>
			<real>580</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>673</real>
			<key>y</key>
			<real>641</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>676</real>
			<key>y</key>
			<real>425</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>547</real>
			<key>y</key>
			<real>216</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>798</real>
			<key>y</key>
			<real>166</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-background.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>130</real>
			<key>height</key>
			<real>130</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>140</real>
		</dict>
		
		<key>button-human-normal.png</key>
		<dict>
			<key>x</key>
			<real>591</real>
			<key>y</key>
			<real>556</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-human-pushed.png</key>
		<dict>
			<key>x</key>
			<real>808</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>632</real>
			<key>y</key>
			<real>255</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-multi-disabled.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>665</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-multi-normal.png</key>
		<dict>
			<key>x</key>
			<real>644</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-multi-pushed.png</key>
		<dict>
			<key>x</key>
			<real>810</real>
			<key>y</key>
			<real>81</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>591</real>
			<key>y</key>
			<real>471</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>507</real>
			<key>y</key>
			<real>661</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-single-normal.png</key>
		<dict>
			<key>x</key>
			<real>632</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-play-single-pushed.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>251</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>553</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>717</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>588</real>
			<key>y</key>
			<real>641</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>798</real>
			<key>y</key>
			<real>247</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-rewind-disabled.png</key>
		<dict>
			<key>x</key>
			<real>632</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>546</real>
			<key>y</key>
			<real>386</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>729</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-disabled.png</key>
		<dict>
			<key>x</key>
			<real>638</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-normal.png</key>
		<dict>
			<key>x</key>
			<real>547</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-skip-pushed.png</key>
		<dict>
			<key>x</key>
			<real>798</real>
			<key>y</key>
			<real>328</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>580</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>889</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-undo-disabled.png</key>
		<dict>
			<key>x</key>
			<real>506</real>
			<key>y</key>
			<real>495</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-undo-normal.png</key>
		<dict>
			<key>x</key>
			<real>547</real>
			<key>y</key>
			<real>301</real>
			<key>width</key>
			<real>84</real>
			<key>height</key>
			<real>84</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>button-undo-pushed.png</key>
		<dict>
			<key>x</key>
			<real>757</real>
			<key>y</key>
			<real>413</real>
			<key>width</key>
			<real>80</real>
			<key>height</key>
			<real>80</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>84</real>
			<key>originalHeight</key>
			<real>84</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>553</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>36</real>
			<key>height</key>
			<real>41</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>36</real>
			<key>originalHeight</key>
			<real>41</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>590</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>617</real>
			<key>y</key>
			<real>85</real>
			<key>width</key>
			<real>26</real>
			<key>height</key>
			<real>26</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<real>26</real>
			<key>originalHeight</key>
			<real>30</real>
		</dict>
		
		<key>empty.png</key>
		<dict>
			<key>x</key>
			<real>590</real>
			<key>y</key>
			<real>112</real>
			<key>width</key>
			<real>1</real>
			<key>height</key>
			<real>1</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>1</real>
			<key>originalHeight</key>
			<real>1</real>
		</dict>
		
		<key>outcome-background.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>387</real>
			<key>width</key>
			<real>421</real>
			<key>height</key>
			<real>384</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>421</real>
			<key>originalHeight</key>
			<real>384</real>
		</dict>
		
		<key>outcome-overlay-draw.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>131</real>
			<key>width</key>
			<real>125</real>
			<key>height</key>
			<real>183</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>125</real>
			<key>originalHeight</key>
			<real>185</real>
		</dict>
		
		<key>outcome-overlay-won.png</key>
		<dict>
			<key>x</key>
			<real>507</real>
			<key>y</key>
			<real>314</real>
			<key>width</key>
			<real>38</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>38</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-mask.png</key>
		<dict>
			<key>x</key>
			<real>443</real>
			<key>y</key>
			<real>399</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-overlay.png</key>
		<dict>
			<key>x</key>
			<real>485</real>
			<key>y</key>
			<real>399</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-player-a.png</key>
		<dict>
			<key>x</key>
			<real>464</real>
			<key>y</key>
			<real>399</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>score-player-b.png</key>
		<dict>
			<key>x</key>
			<real>422</real>
			<key>y</key>
			<real>399</real>
			<key>width</key>
			<real>20</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>20</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>