<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>board.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>842</real>
			<key>height</key>
			<real>772</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>842</real>
			<key>originalHeight</key>
			<real>772</real>
		</dict>
		
		<key>button-ai-easy-normal.png</key>
		<dict>
			<key>x</key>
			<real>1446</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-easy-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1434</real>
			<key>y</key>
			<real>664</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-hard-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>628</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-hard-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1014</real>
			<key>y</key>
			<real>1160</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-medium-normal.png</key>
		<dict>
			<key>x</key>
			<real>1346</real>
			<key>y</key>
			<real>1282</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-ai-medium-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1352</real>
			<key>y</key>
			<real>850</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-back-normal.png</key>
		<dict>
			<key>x</key>
			<real>1094</real>
			<key>y</key>
			<real>432</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-back-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1596</real>
			<key>y</key>
			<real>332</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-background.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>260</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>280</real>
		</dict>
		
		<key>button-human-normal.png</key>
		<dict>
			<key>x</key>
			<real>1182</real>
			<key>y</key>
			<real>1112</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-human-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1616</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-disabled.png</key>
		<dict>
			<key>x</key>
			<real>1264</real>
			<key>y</key>
			<real>510</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-multi-disabled.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>1330</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-multi-normal.png</key>
		<dict>
			<key>x</key>
			<real>1288</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-multi-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1620</real>
			<key>y</key>
			<real>162</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-normal.png</key>
		<dict>
			<key>x</key>
			<real>1182</real>
			<key>y</key>
			<real>942</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1014</real>
			<key>y</key>
			<real>1322</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-single-normal.png</key>
		<dict>
			<key>x</key>
			<real>1264</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-play-single-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1434</real>
			<key>y</key>
			<real>502</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-a-normal.png</key>
		<dict>
			<key>x</key>
			<real>1106</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-a-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1434</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-b-normal.png</key>
		<dict>
			<key>x</key>
			<real>1176</real>
			<key>y</key>
			<real>1282</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-player-b-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1596</real>
			<key>y</key>
			<real>494</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-rewind-disabled.png</key>
		<dict>
			<key>x</key>
			<real>1264</real>
			<key>y</key>
			<real>340</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-rewind-normal.png</key>
		<dict>
			<key>x</key>
			<real>1093</real>
			<key>y</key>
			<real>772</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-rewind-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1458</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-skip-disabled.png</key>
		<dict>
			<key>x</key>
			<real>1276</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-skip-normal.png</key>
		<dict>
			<key>x</key>
			<real>1094</real>
			<key>y</key>
			<real>262</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-skip-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1596</real>
			<key>y</key>
			<real>656</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-stop-normal.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>1160</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-stop-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1778</real>
			<key>y</key>
			<real>0</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-undo-disabled.png</key>
		<dict>
			<key>x</key>
			<real>1012</real>
			<key>y</key>
			<real>990</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-undo-normal.png</key>
		<dict>
			<key>x</key>
			<real>1094</real>
			<key>y</key>
			<real>602</real>
			<key>width</key>
			<real>168</real>
			<key>height</key>
			<real>168</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>button-undo-pushed.png</key>
		<dict>
			<key>x</key>
			<real>1514</real>
			<key>y</key>
			<real>826</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>160</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>168</real>
			<key>originalHeight</key>
			<real>168</real>
		</dict>
		
		<key>cell-empty.png</key>
		<dict>
			<key>x</key>
			<real>1106</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>72</real>
			<key>height</key>
			<real>83</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>72</real>
			<key>originalHeight</key>
			<real>83</real>
		</dict>
		
		<key>cell-overlay-a.png</key>
		<dict>
			<key>x</key>
			<real>1180</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>cell-overlay-b.png</key>
		<dict>
			<key>x</key>
			<real>1234</real>
			<key>y</key>
			<real>170</real>
			<key>width</key>
			<real>52</real>
			<key>height</key>
			<real>52</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<real>52</real>
			<key>originalHeight</key>
			<real>60</real>
		</dict>
		
		<key>empty.png</key>
		<dict>
			<key>x</key>
			<real>1180</real>
			<key>y</key>
			<real>224</real>
			<key>width</key>
			<real>2</real>
			<key>height</key>
			<real>2</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>2</real>
			<key>originalHeight</key>
			<real>2</real>
		</dict>
		
		<key>outcome-background.png</key>
		<dict>
			<key>x</key>
			<real>0</real>
			<key>y</key>
			<real>774</real>
			<key>width</key>
			<real>842</real>
			<key>height</key>
			<real>768</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>842</real>
			<key>originalHeight</key>
			<real>768</real>
		</dict>
		
		<key>outcome-overlay-draw.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>262</real>
			<key>width</key>
			<real>248</real>
			<key>height</key>
			<real>364</real>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<real>250</real>
			<key>originalHeight</key>
			<real>370</real>
		</dict>
		
		<key>outcome-overlay-won.png</key>
		<dict>
			<key>x</key>
			<real>1014</real>
			<key>y</key>
			<real>628</real>
			<key>width</key>
			<real>77</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>77</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
		<key>score-mask.png</key>
		<dict>
			<key>x</key>
			<real>886</real>
			<key>y</key>
			<real>798</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
		<key>score-overlay.png</key>
		<dict>
			<key>x</key>
			<real>970</real>
			<key>y</key>
			<real>798</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
		<key>score-player-a.png</key>
		<dict>
			<key>x</key>
			<real>928</real>
			<key>y</key>
			<real>798</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
		<key>score-player-b.png</key>
		<dict>
			<key>x</key>
			<real>844</real>
			<key>y</key>
			<real>798</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>